*{
    margin: 0px;
    padding: 0px;
}
/* Navigation Section Starts */
/* Navigation Bar Starts */

.logo{
    display: flex;
    align-items: center;
}
.logo-msg{
    font-size: 20px;
    color: aqua;
}
.logo-img{
    width: 230px;
}
.nav-section{
    background-color: rgb(201, 201, 201);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 300px;
}
.menu{
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
}
.nav-menu{
    font-size: 20px;
    padding-right: 40px;
    cursor: pointer;
    list-style: none;
}
/* Navigation Bar Ends */
/* Banner Section Starts */
.red{
    color: red;
}
.banner-header{
    font-size: 80px;
    width: 1000px;
    font-weight: bold;
    color: aliceblue;
    margin-left: 35px;
}
.banner-para{
    font-size: 25px;
    color: aliceblue;
    width: 1100px;
    padding: 10px;
}
.first-btn{
    background-color: red;
    color: aliceblue;
    padding: 15px 25px;
    border: none;
    border-radius: 2px;
    margin-right: 20px;
    font-size: 15px;
    cursor: pointer;
}
.btn{
    margin-right: 80px;
}
.second-btn{
    background-color: aliceblue;
    color: black;
}
.banner{
    height: 100vh;
    background-image: url("./image/background.jpg"), 
    linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4));
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
    padding-left: 420px;
}
/* Banner Section Ends */
/* Navigation Section Ends */
/* Service Section Starts */
.services{
    height: 100vh;
    background-image: url("./image/footer-bg.png"), 
    linear-gradient(180deg, rgba(1,1,1,0.99), rgba(1,1,1,0.89));
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
    padding: 0px 200px;
}
.service-btn{
    color: gray;
    background-color: aliceblue;
    border: none;
    border-radius: 24px;
    font-size: 16px;
    padding: 13px 28px;
}
.service-header{
    color: rgb(196, 193, 193);
    font-size: 40px;
    font-weight: bold;
    padding-top: 10px;
}
.service-para{
    color: rgb(196, 193, 193);
    font-size: 20px;
    padding-top: 10px;
}
.box-img{
    width: 100px;
}
.box{
    width: 280px;
    height: 230px;
    text-align: center;
    background-color: white;
    border: none;
    border-radius: 5px;
    padding-top: 80px;
    box-shadow: 3px 3px 5px gray;
}
.first-two{
    display: flex;
    gap: 20px;
}
.second-two{
    display: flex;
    gap: 20px;
    padding-top: 18px;
}
.author-img{
    width: 60px;
    border-radius: 50px;
    padding-right: 10px;
}
.author-primary{
    color: rgb(196, 193, 193);
    font-weight: bold;
}
.more-detail{
    color: red;
    background-color: aliceblue;
    border: none;
    border-radius: 24px;
    font-size: 14px;
    padding: 13px 28px;
}
.profile{
    display: flex;
    align-items: center;
    border-right: 2px solid red;
    padding-right: 80px;
}
.listing{
    padding: 20px;
}
.author{
    display: flex;
    gap: 20px;
    align-items: center;
}



