*{
    margin: 0px;
    padding: 0px;
}
/* Navigation Section Starts */
/* Navigation Bar Starts */
li{
    list-style: none;
}
.logo{
    display: flex;
    align-items: center;
}
.logo-msg{
    font-size: 20px;
    color: aqua;
}
.logo-img{
    width: 230px;
}
.nav-section{
    background-color: rgb(201, 201, 201);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 300px;
}
.menu{
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
}
.nav-menu{
    font-size: 20px;
    padding-right: 40px;
    cursor: pointer;
}
/* Navigation Bar Ends */
/* Banner Section Starts */
.red{
    color: red;
}
.banner-header{
    font-size: 80px;
    width: 1000px;
    font-weight: bold;
    color: aliceblue;
    margin-left: 35px;
}
.banner-para{
    font-size: 25px;
    color: aliceblue;
    width: 1100px;
    padding: 10px;
}
.first-btn{
    background-color: red;
    color: aliceblue;
    padding: 15px 25px;
    border: none;
    border-radius: 2px;
    margin-right: 20px;
    font-size: 15px;
    cursor: pointer;
}
.btn{
    margin-right: 80px;
}
.second-btn{
    background-color: aliceblue;
    color: black;
}
.banner{
    height: 100vh;
    background-image: url("./image/background.jpg"), 
    linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4));
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
    padding-left: 420px;
}
/* Banner Section Ends */
/* Navigation Section Ends */


