*{
    margin: 0px;
    padding: 0px;
}
/* Navigation Section Starts */
/* Navigation Bar Starts */
li{
    list-style: none;
}
.logo{
    display: flex;
    align-items: center;
}
.logo-msg{
    font-size: 20px;
    color: aqua;
}
.logo-img{
    width: 230px;
}
.nav-section{
    background-color: rgb(201, 201, 201);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 300px;
}
.menu{
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
}
.nav-menu{
    font-size: 20px;
    padding-right: 40px;
    cursor: pointer;
}
/* Navigation Bar Ends */
/* Banner Section Starts */

.banner{
    background-image: url("./image/background.jpg"), linear-gradient(rgba(0, 0, 0,0.2), rgba(0,0,0,0.4));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    text-align: center;
    height: 90vh;
    padding: 350px 0px;
}
.banner-header{
    color: white;
    font-size: 70px;
    padding-bottom: 10px;
}
.red{
    color: red;
}
.banner-para{
    color: white;
    font-size: 25px;
    padding-bottom: 20px;
}
.first-btn{
    background-color: red;
    color: white;
    font-size: 22px;
    border: none;
    border-radius: 2px;
    padding: 10px 22px;
}
.second-btn{
    background-color: white;
    font-size: 22px;
    border: none;
    border-radius: 2px;
    padding: 10px 22px;
}
/* Banner Section Ends */
/* Navigation Section Ends */

